<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="false"
    processIsolation="false"
    stopOnError="true"
    stopOnFailure="true">
    <filter>
        <blacklist>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>docs</directory>
            <directory>subtree</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html"
            target="docs/PhpUnit/reports"
            charset="UTF-8"
            highlight="true"
            lowUpperBound="35" highLowerBound="80"/>
        <log type="testdox-html" target="docs/PhpUnit/reports/testdox.html"/>
        <log type="testdox-text" target="docs/PhpUnit/reports/testdox.txt"/>
    </logging>
    <testsuites>
        <testsuite name="All">
            <directory>tests/Test</directory>
        </testsuite>
        <testsuite name="Xml">
            <directory>tests/Test/Xml</directory>
        </testsuite>
    </testsuites>
</phpunit>
